@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #06021E;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}

main {
    margin: 2rem auto;
    padding: 1rem;

}

.Kael{
    color: mediumpurple;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.description {
    font-size: 1.5rem;
    color: white;
}



.skills{
    color: white;
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 5rem;
}

.colonne-gauche{
    border: 2px solid #1E015C;
    border-radius: 16px;
    padding-left: 20px;
    padding-right: 260px;
    align-self: self-start;
}
.soft-skills-titre{
    margin-top: 1rem;
    font-size: 2rem;
}
.colonne-gauche:hover {
    transform: translateY(+10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-color: yellow;
    background-color: #0B052F;
}

.colonne-centre{
    border: 2px solid #1E015C;
    border-radius: 16px;
    padding-left: 20px;
    padding-right: 150px;
    align-self: self-start;
}
.centres-interets{
    margin-top: 1rem;
    font-size: 2rem;
}
.colonne-centre:hover {
    transform: translateY(+10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-color: yellow;
    background-color: #0B052F;
}

.colonne-droite{
    text-align: left;
    border: 2px solid #1E015C;
    border-radius: 16px;
    padding-left: 20px;
    padding-right: 150px;
    align-self: self-start;
}
.autres-competences-titre{
    margin-top: 1rem;
    font-size: 2rem;
}
.colonne-droite:hover {
    transform: translateY(+10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-color: yellow;
    background-color: #0B052F;
}
.competence-item{
    padding: 10px;
    font-size: 1.2rem;
}



h1 {
    color: mediumpurple;
    margin: 0;
    font-size: 4rem;
}

h2 {
    font-size: 1.5rem;
    margin: 10px;
    color: mediumpurple;
}

h3 {
    margin: 0;
    font-size: 1.2rem;
    color: white;
}


.card-desc{
    color: yellow;
}


.email{
    color: mediumpurple;
}
.email:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    color: yellow;
}






.projet-carte {
    background-color: #1E015C;
    border: 1px solid #ddd;
    border-radius: 24px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);

    /* --- NOTRE PREMIÈRE ANIMATION (Transition) --- */
    transition: all 0.3s ease-in-out;
}

.projet-carte:hover {
    transform: translateY(-5px); /* Fait "flotter" la carte */
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}


.projet-carte a {
    text-decoration: none;
    background-color: #3498db;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    display: inline-block;
    margin-top: 1rem;
    transition: background-color 0.2s;
}
.projet-carte a:hover {
    background-color: yellowgreen;
}

footer {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    color: white;
}




/* 1. Définir l'animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSide {
    from {
        opacity: 0;
        transform: translate3d(350px, -150px, 0px);
    }
    to {
        opacity: 1;
        transform-style: preserve-3d;
        transform: translate3d(0, 0, 0);
    }
}


/* 2. Appliquer l'animation aux projets */
.projet-carte {
    animation: fadeIn 2s ease-out forwards;
}

.skills {
    animation: fadeSide 2s ease-out forwards;
}
